.html {
    font-size: 16;
}
body{
    margin: 0;
    background-color: var(--color-catskill-brown);
}
*{
    box-sizing: border-box;
}
:root{
    --color-lake-retba-pink:#e975e9;
    --color-black: #fff9f9;
    --color-catskill-brown:#050505;

}